* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web' 'Roboto Mono' monospace sans-serif;
}


/*** NAVIGATION ***/
.nav.navbar-nav li a {
  color: #fff;    
}
#footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */
  background:rgb(55, 55, 55);
  padding-top: 8px;
  text-align: center;
}

/*** LOGIN ***/
.form-group {
  background-color: rgb(55, 55, 55);
  color: white;
  width: 25%;
  margin: 25px auto auto auto;
}

.form-group form {
  margin: auto;
}

.form-group input {
  background-color: rgb(55, 55, 55);
  color: white;
  margin: 5px auto 5px auto;
}

input:focus { 
    outline: none !important;
    border-color: green;
    box-shadow: 0 0 10px #719ECE;
}

.form-group button {
  display: flex;
  margin: auto;
}

/*** HOME ***/
/* Home cards */
.card.home-card {
  width: 80%;
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  background-color: rgb(55, 55, 55);
  color: white;
  border: none;
}
/* Home Notifications */
.topcorner {
  position:absolute;
  top: 90px;
  right: 10px;

}
/* Home Join Requests */
.topcorner-second {
  position:absolute;
  top: 130px;
  right: 10px;
}


/*** WATCHLIST GRID AND IMAGES ***/
.watchlist {
  width: 80%;
  /* margin: 10px auto 10px auto; */
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}
.watchlist img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.flex-container{
  width: 80%;
  min-height: 50px;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */     
  display: flex; /* Standard syntax */
}
.flex-container .column{
  padding: 10px;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
}
.watchlist-root {
  float: left;
  width: 100%;
}


/*** MYLISTS CONTAINERS ***/
.mylists {
  display: flex;
  width: 100%;
  height: 400px;
  border: darkgrey;
  border-width: thick;
  /* background-color:gray; */
  color: white;
  padding: 10px 10px 10px 10px;
}
.mylists p {
 font-size: smaller;
}
.mylists ul {
  font-size: smaller;
}
.mylists-pic {
  float: left;
  padding: 10px 10px 10px 10px;
}
.mylists-text {
  float: right;
  overflow: auto;
  padding: 10px 10px 10px 10px;
}

/*** MODAL: https://www.w3schools.com/howto/howto_css_modals.asp ***/
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    color: rgb(55, 55, 55);
    width: 60%; /* Could be more or less, depending on screen size */
  }
  .modal-content button {
    width: 50%;
    margin: 15px auto 15px auto;
  }
  .modal-content select {
    width: 50%;
    height: 35px;
    margin: auto auto auto auto;
  }

  .modal-content input {
    width: 50%;
    height: 35px;
    margin: auto auto auto auto;
  }

  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 


/*** SEARCH RECS ***/
.card {
  width: 80%;
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
  justify-items: center
}
.blockquote.mb-0 p{
  background-color: #ffc107;
  color: rgba(0,0,0,.5);
}

/*** SEARCH ***/
#search-form {
  width: 25%;
  white-space: nowrap;
}
#search-form input {
  width: 60%;
  display: inline;
  margin-right: 10px;
}
#search-form button {
  width: 40%;
  margin-bottom: 5px;
  text-align: center;
}

/* Search Result Grid */
.search-result {
  width: 80%;
  margin: 10px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}

/* FORMATTING FOR GRAYED OUT PICS IN SEARCH RESULTS */
/* Container holding the image and the text */
.cont {
  position: relative;
  margin: 10px 10px 10px 10px;
}
/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* background-color: black; */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.gray-img {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

/* Search Result Imges */
.search-result img {
  width: 100%;
  cursor: pointer;
}
.search-result img {
width: 100%;
cursor: pointer;
}
.search-result img:hover {
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}


/*** UPCOMING ***/
.card ul {
  margin: 10px 10px 10px 10px;
}
.card-header {
  margin-bottom: 10px;
}
.card-title {
  margin-bottom: 0;
}
.card-body {
  background-color: rgb(55, 55, 55);
  color: white;
}
.list-group-item {
  background-color: rgb(55, 55, 55);
  color: white;
  border: none;
  padding: 0;
}
.card-body.list-group-flust {
  background-color: rgb(55, 55, 55);
  color: white;
}
.card h6 {
  background-color: rgb(55, 55, 55);
  color: #ffc107;
  margin-bottom: 0;
}
.card.mb-3 {
  background-color: rgb(55, 55, 55);
  color: white;
  border: none;

}
.card ul {
  background-color: rgb(55, 55, 55);
  color: white;
}

/*** CLUB AND JOIN REQUEST TABLES ***/
table {
  color: white;
}
thead {
  background-color: beige;
}
td {
  color: white;
}
body {
    width: 100%;
    height: 100%;
    background: rgb(55, 55, 55);
    margin-top: 10px;
    color: white;
}
content .form-control
{
    display: inline-block;
    width: auto;
}
#new-club-form {
  width: 25%;
  white-space: nowrap;
}
#new-club-form input {
  width: 60%;
  display: inline;
  margin-right: 10px;
}