{% extends 'base.html' %}
{% block title%}Browse Clubs{% endblock %}

{% block content %}
<h1>Clubs</h1>
<br>

<h3>Start a Club</h3>
    <div class="container-fluid">
        <form id="new-club-form" action="/clubs" method="POST">
            <input placeholder="Club Name" autofocus required name="club-name">
            <button class="btn btn-outline-secondary" type="submit">Create Club</button>
        </form>
    </div>  

<br>

<h3>Join a Club</h3>
    <div>
        <table class="table">
            <caption>List of clubs</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Club Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Members</th>
                    <th scope="col">Club ID</th>
                </tr>
            </thead>
            <tbody>
            {% if clubs %}
                {% for club in clubs %}
                <tr>
                    <td scope="row">{{ club['name'] }}</td>
                    <td>{{ club['owner'] }}</td>
                    <td>{{ club['members'] }}</td>
                    <td>{{ club['club_id'] }}</td>
                    {% if club['status'] == "True" %}
                    <td><button class="btn btn-outline-secondary club-request" disabled id={{ club['club_id'] }}>Enrolled</button></td>
                    {% elif club['status'] == "False" %}
                    <td><button class="btn btn-warning club-request" disabled id={{ club['club_id'] }}>Request Sent</button></td>
                    {% else %}
                    <td><button class="btn btn-warning club-request" id={{ club['club_id'] }}>Join</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
<script src="static/js/club_request.js"></script>
{% endblock %}