{% extends 'base.html' %}
{% block title%}Member Approval{% endblock %}

{% block content %}
<div>
    <h1>Join Requests</h1>
        <table class="table">
            <caption>Join Requests</caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Club Name</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for item in result %}
                <tr>
                    <td scope="row">{{ item['club_name'] }}</td>
                    <td>{{ item['full_name'] }}</td>
                    <td>{{ item['username'] }}</td>
                    <td><button class="btn btn-warning club-approval" id={{ item['club_user_id'] }}>Approve</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/club_request_approve.js"></script>
{% endblock %}