{% extends 'base.html' %}
{% block title%}Browse Clubs{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form id="search-club-form" action="/clubs" method="POST">
            <input placeholder="Club Name" autofocus required name="join-club-name">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </div>
    <div>
        <h1>Clubs</h1>
        <table>
            <tr>
                <th>Club Name</th>
                <th>Owner</th>
                <th>ID</th>
            </tr>
            {% for club in clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['owner'] }}</td>
                <td>{{ club['club_id'] }}</td>
                <td><button class="btn btn-outline-secondary club-request" id={{ club['club_id'] }}>Join</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block scripts %}
<script src="static/js/club_request.js"></script>
{% endblock %}