{% extends 'base.html' %}
{% block title%}History{% endblock %}

{% block content %}
    <div id="body">
        <div class="card-columns">
            {% for result in results %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{ result.poster_path }}" alt={{ result.title}} hover={{ result.overview }}>
                <div class="card-body">
                    <h5 class="card-title">{{ result.title }}</h5>
                </div>
                {% if 'rating' in result %}  
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ result['rating'] }}}</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
