{% extends 'base.html' %}
{% block title%}Lists{% endblock %}

{% block clubnav %}
  {% if join_requests == 1 %}
    <div>
      <a href="/join-requests">{{ join_requests }} Join Request</a>
    </div>
  {% elif join_requests > 1 %}
    <div>
      <a href="/join-requests">{{ join_requests }} Join Requests</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<h1 id="user-lists">{{ user['username'] }}'s Profile</h1>
<div id=list-modal class=modal></div>

<div id="root">
  {% if films %}
  <h3>Upcoming Films</h3>
  <div class="card-group">
    {% for film in films %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{ film[3] }}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{ film[2] }}</p>
            <p class="card-text">{{ film[1] }}, {{ film[0] }}</p>
          </div>
        </div>
    {% endfor %}
  </div>
  {% endif %}

</div>    

{% endblock %}