{% extends 'base.html' %}
{% block title%}Lists{% endblock %}

{% block clubnav %}
  {% if join_requests == 1 %}
    <div>
      <a href="/join-requests">{{ join_requests }} Join Request</a>
    </div>
  {% elif join_requests > 1 %}
    <div>
      <a href="/join-requests">{{ join_requests }} Join Requests</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<h1 id="user-lists">{{ user['username'] }}'s Profile</h1>

<div id="root"></div>    
<div id=list-modal class=modal></div>
<script type="text/jsx" src="/static/js/recs.jsx"></script>

{% endblock %}