{% extends 'base.html' %}
{% block title%}Log In{% endblock %}

{% block content %}
    <div class="form-group">
        <form id="login-form" action="/login" method="POST">
            <div>
                <input placeholder="Username" class="form-control" autofocus required name="login-username">
            </div>
            <div>
                <input placeholder="Password" class="form-control" required type="password" name="login-password">
            </div>
            <div>            
                <button class="btn btn-warning" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}