{% extends 'base.html' %}
{% block title%}Login{% endblock %}

{% block content %}
    <div class="form-group">
        <form id="login-form" action="/login" method="POST">
            <input placeholder="Username" class="form-control" autofocus required name="login-username">
            <input placeholder="Password" class="form-control" required type="password" name="login-password">
            <button class="btn btn-outline-secondary" type="submit">Login</button>
        </form>
    </div>
{% endblock %}