{% extends 'base.html' %}
{% block title%}watchList{% endblock %}

{% block content %}
  <h1 id="user-lists">{{ user['username'] }}'s watchLists</h1>
  <div class="topcorner-second">
    <form action="/join-requests">
      {% if join_requests == 1 %}
        <button type="submit" class="btn btn-warning"><strong>{{ join_requests }} Join Request</strong></button>
      {% elif join_requests > 1 %}
        <button type="submit" class="btn btn-warning"><strong>{{ join_requests }} Join Requests</strong></button>
      {% endif %}
    </form>
  </div>

  <div class="topcorner">
    <form action="/user-notifications">
      {% if user['notifications'] == False %}
        <button type="submit" class="btn btn-warning"><strong>Turn on notifications</strong></button>
      {% else %}
        <button type="submit" class="btn btn-warning"><strong>Turn off notifications</strong></button>
      {% endif %}
    </form>
  </div>


  <div id="button-div" class="btn-group" role="group"></div>
  <div class="watchlist-root" id="root"></div>    

  <div id=list-modal class=modal></div>
  <script type="text/jsx" src="/static/js/watchlist.jsx"></script>

{% endblock %}