{% extends 'base.html' %}
{% block title%}Register{% endblock %}

{% block content %}
    <div class="form-group">
        <form id="registration-form" action="/register" method="POST">
            <input placeholder="First Name" class="form-control" autofocus required name="fname">
            <input placeholder="Last Name" class="form-control" required name="lname">
            <input placeholder="Email" class="form-control" required name="email">
            <input placeholder="Phone Number XXXXXXXXXX" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" class="form-control" required name="phone">
            <input placeholder="Username" class="form-control" required name="username">
            <input placeholder="Password" class="form-control" required type="password" name="password">
            <input placeholder="Confirm Password" class="form-control" required type="password" name="password-conf">
            <button class="btn btn-outline-warning" type="submit">Register</button>
        </form>
    </div>
{% endblock %}