{% extends 'base.html' %}

{% block title%}Search{% endblock %}


{% block content %}
<body>
    <div id=myModal class=modal></div>
    <div id="search-form-div"></div>
    <div id="body"></div>
    {% if recs|length > 0 %}
        <div id="recs" class="card-columns">
            <div class="card p-3" style="margin-top: 0px">
              <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{ recs[0][1] }}" alt="Card image cap">
            </div>
            <div class="card p-3 text-center">
              <div class="card-body"> 
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{ recs[1][1] }}" alt="Card image cap">
                </div>
              </div>
            <div class="card p-3">
              <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{ recs[2][1] }}" alt="Card image cap">
            </div>
            <div class="card p-3">
              <div class="card-body"> 

              <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{ recs[3][1] }}" alt="Card image cap">
              </div>
            </div>
            <div class="card bg-warning text-white text-center p-3">
              <blockquote class="blockquote mb-0">
                <p>Recommendations are based on your film ratings. <a href="/history">Rate more films</a> to see more accurate recommendations!</p>
              </blockquote>
            </div>
            <div class="card p-3 text-center">
              <div class="card-body">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{ recs[4][1] }}" alt="Card image cap">
              </div>
            </div>
            <div class="card p-3" style="margin-top: 0px">
              <img class="card-img" src="https://image.tmdb.org/t/p/w500/{{ recs[5][1] }}" alt="Card image">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="blockquote mb-0">
                <img class="card-img" src="https://image.tmdb.org/t/p/w500/{{ recs[6][1] }}" alt="Card image">
              </blockquote>
            </div>
            <div class="card p-3">
              <div class="card-body">
                <img class="card-img" src="https://image.tmdb.org/t/p/w500/{{ recs[7][1] }}" alt="Card image">
              </div>
            </div>
            {% endif %}

          </div>


    <script type="text/jsx" src="/static/js/search.jsx"></script>
</body>

{% endblock %}


